{% extends 'base.html' %}

{% block head %}
{# 为了在Form中添加必选项的星,需要添加的css #}
<style type="text/css">
label.required::before {
    content: "*";
    color: red;
}
</style>
{% endblock head %}

{% block title %}
    编辑设备信息
{% endblock title %}

{% block body %}
    <div class="container">
        <br><h2 style="color: #666666">编辑设备信息</h2><br>

        {% if successmessage %}
            <span class="message"><div class="alert alert-success" role="alert">{{ successmessage }}</div></span>
        {% endif %}

        {% if warningmessage %}
            <span class="message"><div class="alert alert-warning" role="alert">{{ warningmessage}}</div></span>
        {% endif %}

        {% if errormessage %}
            <span class="message"><div class="alert alert-danger" role="alert">{{ errormessage }}</div></span>
        {% endif %}

        <form action="" method="post">
            {# 添加CSRF防护的隐含参数Token,主要必须使用render来渲染页面 #}
            {% csrf_token %}

            {% for field in form %}
                <div class=form-group>
                    {# 如果出现Form错误(各种校验错误),在Form展示给客户看 #}
                    {% if field.errors %}
                    {# 调整了bootstrap的显示样式 #}
                    <div class="alert alert-danger" role="alert">{{ field.errors }}</div>
                    {% endif %}
                    {# 显示字段的label(名字) #}
                    {{ field.label_tag }}
                    {# 显示输入与选择字段 #}
                    {{ field }}
                </div>
            {% endfor %}
            {# 调整了bootstrap的显示样式 #}
            <input class="btn btn-primary btn-lg" type='submit' value='提交'>
        </form>
    </div>
{% endblock body %}